// Import bootstrap 
@import "resources/assets/bower/bootstrap-sass-official/assets/stylesheets/bootstrap";

$background-color: #f9f9f9;

$default-color: #666;
$dark-default-color: #333;
$xlight-default-color: #eee;
$light-default-color: #999;

$box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.08);
$primary-color: #7A9E35;
$light-primary-color: #A4C663;
$xlight-primary-color: #D2ED9E;
$dark-primary-color: #557714;
$xdark-primary-color: #344F00;

$break-small: 360px;


[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
body
{
	padding-bottom: 20px;
	// Loading bar
	#loading-bar
	{
		.bar
		{
			background: $light-primary-color;
		}
		// Don't display annoying shadow
		.peg
		{
			display: none;
		}
	}

	background: $background-color;

	.container
	{
		// Set max width
		max-width: 600px;

		// Logo top
		h1
		{
			color: $default-color;
			text-align: center;
			font-size: 70px;
			font-weight: 300;
			margin-top: 50px;
			margin-bottom: 20px;

			@media screen and (max-width: $break-small){
				margin-top: 20px;
				font-size: 50px;
			}
			.green
			{
				color: $light-primary-color;
			}
		}

		// Url form
		.url-form-container
		{

			.url-input
			{
				margin-bottom: 10px;
				font-size: 16px;
				padding: 10px 15px;
				height: auto;
				border-radius: 0;
				border: none;
				box-shadow: $box-shadow;
			}
			.btn-shorten:hover,
			.btn-shorten:focus
			{
				border: none;
				box-shadow: $box-shadow;
				outline: 0;
				background: $primary-color;
			}
			.btn-shorten
			{
				border-radius: 0;
				box-shadow: $box-shadow;
				background: $light-primary-color;
				color: white;
				border: none;
				font-size: 16px;
				padding: 10px 15px;
				font-weight: 600;
			}
			.error {
				position: relative;
				border: none;
				box-shadow: none;
				border-radius: 0;
			}
			.error:after
			{
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(242, 222, 222, 0);
				border-bottom-color: #f2dede;
				border-width: 7px;
				margin-left: -7px;
			}

		}

		.shortened-links
		{
			margin-top: 40px;

			h3
			{
				color: $default-color;
				text-align: center;
				font-weight: 400;
			}

			.shortened-link
			{
				background: white;
				margin-top: 15px;

				box-shadow: $box-shadow;

				.shortened-link-short
				{
					background: $xlight-default-color;

					color: $primary-color;
					padding: 10px 15px;
					font-size: 18px;
					font-weight: 600;
					cursor: pointer;
				}

				a.shortened-link-long
				{
					display: inline-block;
					font-size: 14px;
					padding: 10px 15px 5px;
					color: $light-default-color;
					font-weight: 600;
				}

				.shortened-link-timeago
				{
					color: $light-default-color;
					padding: 5px 15px 10px 15px;
					font-size: 12px;
					display: inline-block;
				}

				.shortened-link-delete
				{
					color: $light-default-color;
					padding: 5px 15px 10px 15px;
					font-size: 12px;
					display: inline-block;
					float: right;
				}


			}

		}
	}
}